body {
  display: flex;
  flex-flow: column;
  margin: 0 ;
}

.header {
  display: flex;
  align-items: center;
  color: #F9FAF8
}

.logo {
  margin-right: auto;
  font-size: 24px;
}

a {
  text-decoration: none;
  padding: 12px;
}

.container1, .header, .footer {
  background-color: #1F2937;
}

.header, .container1, .container2, .container3, .container4, .footer {
  padding: 0 15vw;
}

.container1 {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container4 {
  margin: 75px 20vw;
  padding: 0 72px;
  display: flex;
  align-items: center;
}

.hero {
  padding-bottom: 50px;
}
.hero .text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero .sub-text, a{
  color: #F9FAF8;
  font-size: 18px;
  color: #E5E7EB;
}

.hero button {
padding: 8px 24px;
color: #E5E7EB;
font-weight: 800;
}

 .hero button, .container4 {
  background-color: #3882F6;
  border-width: 0px;
  border-radius: 5px;
 }

 .hero .text, .hero .sub-text {
  margin: 8px;
 }

.image img {
  height: 200px;
  width: 350px;
  margin-left: 50px;
}

.container2 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container2 .text {
  margin: 30px;
}

.cards {
  display:flex;
  gap: 20px;
}

.card img {
  height: 100px;
  width: 100px;
  border: 5px;
  border-color:#3882F6;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
}
